@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.websitetitle {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color:whitesmoke;
}

body {
	margin: 0;
	background: rgb(41, 39, 39);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
    width: 80%;
	margin: 0 auto;
}

header {
    background: #201f1f;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  left: 300px;
  height: 4.5rem;
  width: 4.5rem;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color:  rgb(255, 217, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 217, 0);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



#logo {
    float: right;
}

#video {
    position: absolute;
    border: 1px solid #999;
    width: 98%;
    max-width: 860px;
}

button {
  bottom: 300px;
  background: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px gold,
              0 0 25px gold,
              0 0 50px gold,
              0 0 100px gold;
  
}

